@model OrdinarioProyecto.Models.Producto

@{
    ViewData["Title"] = "Details";
}
<!--Creacion del contenedor de deltalles-->
<!--Inicio del contenedor-->
<h1>Detalles</h1>
<hr />
<div class="card border-primary mb-3">

    <div class="card-header bg-transparent border-primary">
        <h4>Producto</h4>
    </div>
    <div class="card-body text-primary">

        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Nombre)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Descripcion)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Descripcion)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Cantidad)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Cantidad)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Precio)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Precio)
            </dd>
        </dl>

        <div class="card-footer bg-transparent border-primary">
            <a class="btn btn-outline-secondary" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
            <a class="btn btn-outline-primary" asp-action="Index">Volver a la lista</a>
        </div>
    </div>
</div>
<!--Inicio del contenedor-->
