<!--Nombre: Details.cshtml-->
<!--Fecha de creacion: 06/02/22-->
<!--Creador: Floriceli Gonzalez Ruiz-->
<!--Descripcion: usuario detalles-->

@model OrdinarioProyecto.Models.Usuario

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<hr />
<div class="card border-primary mb-3">

    <div class="card-header bg-transparent border-primary">
        <h4>Usuario</h4>
    </div>
    <div class="card-body text-primary">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Nombre)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Usuario1)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Usuario1)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Contrasena)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Contrasena)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Email)
            </dd>
        </dl>

        <div>
            <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
            <a class="btn btn-outline-secondary" asp-action="Index">Volver a la lista</a>
        </div>
    </div>
</div>
